

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out;
}

body {
  color: var(--clr-gray);
  
}
.navbar {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.navbar a {
  color: #000000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}
.navbar a:hover {
  color: rgb(71, 44, 44);
}

header {
  padding: 5px;
  color: #000000;
}

.image {
  width: 150px;
  height: 120px;
  margin-left: -8rem;
  margin-right: 10rem;
}
.front{
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.Saa{
  width: 80%;
  height: 50rem;
  height: 50%;
}
 
.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 0;
}

.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  outline: none;
}

.container .card .face.face1 {
  position: relative;
  opacity: 1;
  background: #e8e1df;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.container .card:hover .face.face1 {
  background: #8d6161;
  transform: translateY(0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 3s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 150px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}
.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}
table{
  margin: 0;
}
tr{
  margin: 30px;
}
th{
    margin: 30px;
}

.tt{
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 5px;
  color: rgb(44, 38, 38);
  
}


footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.f-container {
  max-width: 1170px;
  margin: 0px auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex-basis: 50%;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icons li {
  margin-left: 20px;
}

.social-icons li:first-child {
  margin-left: 0;
}
.social-icons li a img{
  height: 35px;
  width: 35px;
}

.fa {
  font-size: 20px;
  color: #333;
}
.para{
        margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .social-icons{
    margin-right: 30px;
  }
}

.contact{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #fff;
	color: #000;

	display: flex;
	align-items:center;
	justify-content: space-around;
	min-height: 100vh;
}

.form-container{
	width: 100%;
	max-width: 600px;
	margin:0 auto;
  background: #09aad0;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}
.input-row{
  margin-bottom: 10px;
}
.input-row label{
	display: block;
	margin-bottom: 3px;
}
.input-row input,
.input-row textarea{
	width: 100%;
	padding: 10px;
	border:0;
	border-radius: 3px;
	outline: 0;
	margin-bottom: 3px;
	font-size: 18px;
	font-family: arial;
}
.input-row textarea{
	height: 100px;
}
.input-row input[type="submit"] {
  width: 100px;
  margin:0 auto;
  display: block;
  text-align: center; 
  background: #002f3a;
  color: #ffffff;
  cursor: pointer;
}
.success {
  background-color: #9fd2a1;
  padding: 5px 10px;
  color: #326b07;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 10px;
}






