* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.3s ease-in-out;
}

body {
    color: var(--clr-gray-light);
    background-color: rgb(0, 6, 14);
}

.logo img {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(270deg, rgb(2, 34, 48) 21%, rgb(0, 6, 13) 100%);
    padding: 1% 4%;
    height: 8vh;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}

.nav-links ul li a {
    letter-spacing: 1.2px;
    color: #09c3c8;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #09c3c8;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa-solid {
    display: none;
}

.dropdown {
    margin-right: 0px;
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    background-color: #00808f;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}

.dropdown-content {
    margin-left: -130px;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #f6f6f6;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: fantasy;
}

a:hover {
    color: rgb(0, 238, 255);
    letter-spacing: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* media queries */

@media (max-width: 875px) {
    .nav-links ul li {
        display: block;
    }
    nav {
        overflow: hidden;
    }
    .nav-links {
        position: fixed;
        background: #02173b;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        transition: 1s;
        overflow: hidden;
        z-index: 2;
    }
    nav .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}

.container {
    overflow: hidden;
    background-color: rgb(0, 6, 14);
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0;
}

.container .card {
    position: relative;
    cursor: pointer;
    margin-left: 8px;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    outline: none;
    box-shadow: -1px 0px 8px 2px rgb(0, 255, 255);
}

.container .card .face.face1 {
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    box-shadow: -1px 0px 8px 2px rgb(0, 255, 255);
}

.container .card:hover .face.face1 {
    background: #00f2ff;
    transform: translateY(0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.8s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content img {
    max-width: 150px;
}

.container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2 {
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
    color: white;
    border-bottom: 1px solid #00f2ff;
}

.container .card:hover .face.face2 {
    transform: translateY(0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}

.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}

table {
    margin: 0;
}

tr {
    margin: 30px;
}

th {
    margin: 30px;
}

.tt {
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 2px;
    padding: 2px 0 50px 0;
}

.Saa {
    width: 100%;
    height: 100%;
}

.footer {
    background: rgb(2, 34, 48);
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0 0 0;
    bottom: 0;
    height: 10vh;
}

.footer ul {
    margin-top: 5px;
}

.footer ul li a {
    padding: 20px;
}

.icons .fa-brands {
    color: #00ccff;
    cursor: pointer;
    font-size: 35px;
}

.icons .fa-brands:hover {
    color: rgb(9, 137, 169);
}

.contact {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: #09aad0;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.input-row {
    margin-bottom: 10px;
}

.input-row label {
    display: block;
    margin-bottom: 3px;
}

.input-row input,
.input-row textarea {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    margin-bottom: 3px;
    font-size: 18px;
    font-family: arial;
}

.input-row textarea {
    height: 100px;
}

.input-row input[type="submit"] {
    width: 100px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: #002f3a;
    color: #ffffff;
    cursor: pointer;
}

.success {
    background-color: #9fd2a1;
    padding: 5px 10px;
    color: #326b07;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 10px;
}