* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  text-align: center;
  font-size: 60px;
  font-family: fantasy;
  background: -webkit-linear-gradient(#e600ff, #0234ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.about-img {
  width: 80vw;
  height: 60vh;
}

.right {
  /* position: relative; */
  margin-right: 5px;
  width: 50%;
  border: 2px solid red;
  box-shadow: 10px 5px 5px red;
}

.left {
  font-size: 25px;
  width: 50rem;
  text-align: center;
  margin-right: 5px;

}
.about-para {
  /* width: 60%; */
  text-align: left;
  /* border: 2px solid blue; */
  line-height: 35px;
  height: 60vh;
  margin-top: 20px;
}

p {
  margin-top: 50px;
}

.para-1,
.para-2 ,.para-3{
  margin-bottom: 20px;
  /* border-left: 5px solid rgb(46, 195, 200); */
}

.sp-1 {
  font-family: "Bruno Ace SC", cursive;
  text-decoration: underline wavy;
  text-decoration-color: rgb(135, 21, 236);
  color: #0234ff;
  /* margin-left: 30px; */
}
.sp-main {
  margin-left: 50px;
}
.img-gif {
  width: 40px;
  height: 40px;
}
